#content p{
	margin-left: 100px;
	margin-right: 100px;
	padding-top: 25px;
	font-size: 20px;
	font-weight: bolder;
}

#content ul{
	background-color: #6F70F4;
	font-size: 25px;
	width: 500px;
	text-align: center;
	margin-left: 30%;
	margin-right: 25%;
	color: white;
}

.page_button{
	margin-bottom: 20px;
	margin-left: 40%;
	width: 150px;
	height: 40px;
}

.lyric-selector{
	color: white;
	display: inline-block;
	text-align: center;
	font-size: 30px;
	padding-bottom: 40px;
	padding-left: 220px;
	width: 540px;
}
